/* Nice fonts */
@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic|PT+Serif+Caption&subset=cyrillic);

/* normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 16px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #fff; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #6C9380; }
a:visited { color: #F07C6C; }
a:hover { background: #6C9380; color: #fff; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Max Izmailov, @kvakes
   ========================================================================== */

/* Typography */
body {
	font-family: 'Philosopher', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	line-height: 1.4;
}
h1, h2, h3 {
	font-family: 'PT Serif Caption', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.wf-loading body, .wf-inactive body,
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3 {
	font-family: 'Philosopher', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

html {
	background: #212121;
	color: #fff;
}
body {
	padding: 10px;
}
header {
	margin-top: 2em;
}
h1, h2, h3 {
	text-align: center;
	font-weight: normal;
	text-shadow: 0 0 12px #000;
}
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.1em;
	margin-bottom: 0;
}
h3 {
	font-size: .9em;
	margin-top: 0;
}
header h1 {
	background: transparent url(../i/line.png) 50% 100% no-repeat;
	padding-bottom: 1.3em;
}
header h1 img {
	width: 200px;
	height: 294px;
}
header h1 img.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
header h1 span {
	display: block;
}

/* Centered blocks */
#main, aside, #credits {
  width: 400px;
  margin: 0 auto;
}

#main {
	font-size: 1.3em;
}
.links {
	text-align: center;
}
#epub {
	display: block;
	font-size: 2em;
	color: #fff !important;
	background: #AD5472;
	width: 80%;
	margin: 1em auto 3px auto;
	border-radius: 10px;
	text-decoration: none;
	padding-top: 5px;
}
#lang {
	font-size: .8em;
	color: #C0CA55 !important;
	background: transparent;
	border-radius: 3px;
	padding: 3px 5px 1px 5px;
}
#museum {
  border-top: 1px solid #444;
  padding: 10px 3%;
  box-sizing: border-box;
  text-align: left;
}
#credits {
	text-align: center;
	margin-top: 50px;
	padding-top: 50px;
	background: transparent url(../i/line.png) 50% 0 no-repeat;
}
#tw {
  text-align: center;
  border: 1px dashed #333;
  border-radius: .5em;
  padding: 1em;
}
#tw blockquote {
  text-align: left;
  font-size: .8em;
  margin: 0;
}
#tw span {
  display: block;
  text-align: right;
}

/* ==|== media queries ====================================================== */

@media only screen and (max-device-width: 480px) {
	#main {
		width: 100%;
	}
	#epub {
		font-size: 1.4em;
	}
	#credits, aside {
	  width: 98%;
	}
}

@media only screen and (min-device-width: 480px) {
  #lightning {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    pointer-events: none;
  }
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}