// Typografy
body {
	font-family: 'Philosopher', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	line-height: 1.4;
}
h1, h2, h3 {
	font-family: 'PT Serif Caption', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.wf-loading body, .wf-inactive body,
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3 {
	font-family: 'Philosopher', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

// Link colors
a { color: #6C9380; }
a:visited { color: #F07C6C; }
a:hover { background: #6C9380; color: #fff; }

html {
	background: #212121;
	color: #fff;
}
body {
	padding: 10px;
}
header {
	margin-top: 2em;
}
h1, h2, h3 {
	text-align: center;
	font-weight: normal;
	text-shadow: 0 0 12px #000;
}
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.1em;
	margin-bottom: 0;
}
h3 {
	font-size: .9em;
	margin-top: 0;
}

// Header
header {
  h1 {
  	background: transparent url(../i/line.png) 50% 100% no-repeat;
  	padding-bottom: 1.3em;
  	
  	img {
  		width: 200px;
  		height: 294px;
  		
  		&.flipped {
  		  @include transform(scaleX(-1));
  		  filter: FlipH;
  		  -ms-filter: "FlipH";
  		}
  	}
  	
  	span {
  	  display: block;
  	}
  }
}

// Centered blocks
#main, aside, #credits {
  width: 400px;
  margin: 0 auto;
}

#main {
	font-size: 1.3em;
}
.links {
	text-align: center;
}
#epub {
	display: block;
	font-size: 2em;
	color: #fff !important;
	background: #AD5472;
	width: 80%;
	margin: 1em auto 3px auto;
	border-radius: 10px;
	text-decoration: none;
	padding-top: 5px;
}
#mobi {
	font-size: .8em;
	color: #C0CA55 !important;
	background: transparent;
	border-radius: 3px;
	padding: 3px 5px 1px 5px;
}
#museum {
  border-top: 1px solid #444;
  padding: 10px 3%;
  box-sizing: border-box;
  text-align: left;
}
#credits {
	text-align: center;
	margin-top: 50px;
	padding-top: 50px;
	background: transparent url(../i/line.png) 50% 0 no-repeat;
}
#tw {
  text-align: center;
  border: 1px dashed #333;
  border-radius: .5em;
  padding: 1em;
  
  blockquote {
    text-align: left;
    font-size: .8em;
    margin: 0;
  }
  span {
    display: block;
    text-align: right;
  } 
}

@media only screen and (max-device-width: 480px) {
	#main {
		width: 100%;
	}
	#epub {
		font-size: 1.4em;
	}
	#credits, aside {
	  width: 98%;
	}
}
